# Ignore node_modules in all directories
node_modules/
**/node_modules/

# Ignore environment and log files
.env
.env.*  
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build files
dist/
build/

# OS-specific
.DS_Store
Thumbs.db
